<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/nav') %> 
    <%- include('./partials/header') %>
    <div class="info">
        <div class="info-text">
            <div class="us">
                <h2>Quienes somos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, voluptas obcaecati! Labore quaerat, repellat voluptatum error cupiditate rerum tempora nobis accusamus saepe nesciunt fugit doloremque minus laboriosam optio odio deleniti?</p>
            </div>
            <div class="history">
                <h3>Nuestra historia</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, voluptas obcaecati! Labore quaerat, repellat voluptatum error cupiditate rerum tempora nobis accusamus saepe nesciunt fugit doloremque minus laboriosam optio odio deleniti?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, voluptas obcaecati! Labore quaerat, repellat voluptatum error cupiditate rerum tempora nobis accusamus saepe nesciunt fugit doloremque minus laboriosam optio odio deleniti?</p>
            </div>
        </div>
        <div class="info-img">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/1b/57/09/exquisita-comida-fina.jpg" alt="">
        </div>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>